<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETRIX</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PETRIX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: right;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Animal", "Index", "Animals")</li>
                    <li>@Html.ActionLink("Tipo", "Index", "Tipoes")</li>
                    <li>@Html.ActionLink("Anuncio", "Index", "Anuncios")</li>
                    <li>@Html.ActionLink("Usuario", "Index", "Usuarios")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="margin-top: -1px; border-top: 4px solid #eee;" />
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - PETRIX</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .zmdi {
        font-size: 25px;
    }
    a{
        color: black;
    }
    .navbar-inverse{
        background-color: seagreen;
        border-color: seagreen;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
        color: white;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

</style>
